
module container_unprivileged_gui 1.0;

require {
	type container_t;
	type unconfined_service_t;
	type user_tmp_t;
	type fusefs_t;
	class dir { map write };
	class sock_file write;
	class unix_stream_socket connectto;
}

#============= container_t ==============
allow container_t fusefs_t:dir map;
allow container_t unconfined_service_t:unix_stream_socket connectto;
allow container_t user_tmp_t:dir write;
allow container_t user_tmp_t:sock_file write;
